input, select, button{
    padding: 20px;
}

.container {
    border: 1px solid #aaa;
    padding: 50px;
    text-align: center;
    margin-top: 50px;
}

#titulo{
    margin-bottom: 50px;
}

#resultado{
    margin-top: 50px;
}