
input{
    padding: 40px;
    margin-bottom: 50px;
}

select{
    padding: 40px;
}

button{
    padding: 40px;
    margin-top: 50px;
    
}

.container {
    border: 0px solid #aaa;
    
    padding: 150px;
    text-align: center;
    margin-top: 50px;
}

.mensagem-usuario{
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}

.oculto{
    display: none;
}

#titulo{
    margin-bottom: 50px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

#resultado{
    margin-top: 50px;
}

